/*登入成功擴張動畫*/
@keyframes expandDesktop {
    0% {
        position: absolute;
        bottom: 30%;
        right: 5%;
        padding: 20px 40px;
        background-color: #D6F1F5;
        color: #000000;
        border: none;
        border-radius: 980px;
        font-size: 24px;
        font-weight: 500;
        height: 64px;
        width: 200px;
    }
    20% {
        color: #698F99;
        background-color: #698F99;
    }
    100% {
        position: absolute;
        bottom: 0%;
        right: 0%;
        margin: 0;
        padding: 0 0;
        border-radius: 0px;
        color: #698F99;
        background-color: #698F99;
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(var(--vh) * 100);
        width: 100%;
    }
}
/*@keyframes expandPhone {
    from {
        height: 300px;
        width: 300px;
    }
    to {
        height: 85%;
        width: 80%; 
        background-color: #6aa7b6;
        padding: 20px 20px;
        border-radius: 30px;
    }
}*/
#getStart.expand {
    animation: expandDesktop 1s forwards;
}
/*@media (max-width: 700px) {
    .container.expand {
        animation: expandPhone 1.5s forwards;
    }
}*/
/*------------------------------------------------------------*/
