/*淡出動畫*/
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.fade-out {
    animation: fadeOut 0.3s ease forwards;
}
/*淡入動畫*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fade-in {
    animation: fadeIn 0.3s ease forwards;
}
/*------------------------------------------------------------*/
/*擴張動畫*/
@keyframes expand {
    to {
        top: 0px;
        right: 0px;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        border-radius: 30px;
        background-color: #99BAC3;
    }
}
.expand {
    animation: expand 0.5s ease forwards;
}
@keyframes expand2 {
    to {
        height: var(--target-height);
        width: var(--target-width);
        border-radius: 30px;
        background-color: #99BAC3;
    }
}
.expand2 {
    animation: expand2 0.5s ease forwards;
}
/*------------------------------------------------------------*/
